body{
  background-color: black;
}


#start, #game-over {
    font-family: "Quicksand", sans-serif;
    color: #ffffff;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
    height: 200px;
    width: 250px;
    text-align: center;
}

#start a, #game-over a {
    border: 3px solid #ffffff;
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;   
    width: 200px;
    text-align: center;
    font-size:2em;
    display: inline-block;
}

#start a:hover, #game-over a:hover { 
  background-color: #ffffff; 
  color: black; 
}

.prologue{
  width: 700px;
  height: 300px;
  left: 50%;
  top: 50%; 
  margin: auto;
  text-align: center;
  color: white;
}


.prologue-title{
  display: flex;
  justify-content: center;
}

.prologue-btn{
  display: flex;
  background-color: white;
  justify-content: center;
  width: 20%;
  text-align: center;
  padding: 20px;
  margin:auto;

  font-size: 30px;

}

.card {
  font-family: "Quicksand", sans-serif;
    color: #0a0000;
}

body {
    background-image: white;
  background-size:100% 100%;
  font-size: 22px;
}

@-webkit-keyframes arrow_anim {
   from { margin-top: 58px; }
     to { margin-top: 67px; }
}

@-moz-keyframes arrow_anim {
   from { margin-top: 58px; }
     to { margin-top: 67px; }
}

@-ms-keyframes arrow_anim {
   from { margin-top: 58px; }
     to { margin-top: 67px; }
}

@-o-keyframes arrow_anim {
   from { margin-top: 58px; }
     to { margin-top: 67px; }
}

@keyframes arrow_anim {
   from { margin-top: 58px; }
     to { margin-top: 67px; }
}

#arrow {
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid red;
  height: 0; 
  margin: 60px 0px 0px 360px;
  position: absolute;
  width: 0; 
  
  -webkit-animation: arrow_anim .3s steps(3) infinite;
  -moz-animation: arrow_anim .3s steps(3) infinite;
  -ms-animation: arrow_anim .3s steps(3) infinite;
  -o-animation: arrow_anim .3s steps(3) infinite;
  animation: arrow_anim .3s steps(3) infinite;
}

#dialog {
  height: 70px;
  background: #1c1c1c;
  border-radius: 5px;
  box-shadow: 0 0 0 6px #F5EAC8, 0 0 0 12px #251C00;
  color: #F5EAC8;
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
  padding: 20px 20px 20px 20px;
  position: relative;
  text-transform: uppercase;
  word-spacing: 3px;
  width: 400px;
}

.card-deck{
  visibility: hidden;
  
}

#homePage{
  background-image: url(assets/title_background.png);
}

h1{
  color: red;
  
}

#greetingSpan{
  color: white;
}

.card-deck {
  display: flex;
  padding-left: 40px;
  padding-top: 40px;
}

